* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.container {
  max-width: 107rem;
  padding: 0 4rem;
  margin: 0 auto;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  position: fixed;
  padding: 25px 40px 25px 50px;
  width: 100%;
  height: auto;
  z-index: 200;
  top: 0;
  left: 0;
}

nav ul {
  align-items: flex-end;
  gap: 2rem;
  display: flex;
  list-style: none;
}
.logo {
  cursor: pointer;
  color: #2d2e32;
}

nav ul a {
  color: #2d2e32;
  text-decoration: none;
  font-weight: 200;
  transition: all 0.23s;
}

nav ul a:hover {
  color: #969799;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
  position: relative;
}

.intro-main {
  display: flex;
  height: auto;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.intro-img {
  background-image: url("../assets/meh.jpg");
  width: 35rem;
  height: 35rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #2d2e32;
  animation: morph 5s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.skills {
  align-items: center;
  bottom: 0;
  color: #767676;
  display: flex;
  font-size: 1.7rem;
  left: 0;
  position: absolute;
}

.skills p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  font-family: Mulish, sans-serif;
  font-weight: 600;
  margin-right: 7rem;
  padding-right: 2rem;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  list-style: none;
}

.skills ul li {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  display: flex;
  height: 6.5rem;
  justify-content: center;
  width: 6.5rem;
}

.skills ul li img {
  height: 3.4rem;
  width: 3.4rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65rem;
  gap: 10rem;
  position: relative;
}
.intro-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}
.intro-text h1 {
  font-size: 5.5rem;
  line-height: 1.2;
  color: #2d2e32;
  margin-bottom: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}
.intro-text p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #767676;
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
}
.intro-text span {
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
}

.intro-text span a {
  font-size: 3rem;
  color: #2d2e32;
}

.intro-text span i {
  transition: all 0.2s;
}

.intro-text span i:hover {
  color: #147efb;
}

.about {
  padding: 15em 0;
  background-color: white;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.text-side {
  padding: 1.5rem;
}

.text-side h4 {
  font-size: 1.7rem;
  color: #147efb;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}
.text-side h3 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: #2d2e32;
}
.text-side p {
  font-size: 1.7rem;
  font-family: "Mulish", sans-serif;
  color: #767676;
  font-weight: 500;
  line-height: 1.5;
}
.img-side {
  position: relative;
}
.img-side span {
  width: 19rem;
  height: 19rem;
  position: absolute;
  background-color: white;
  bottom: -33px;
  right: 33px;
  border-radius: 50%;
}
.img-side span img {
  width: 19rem;
  animation: rotate 9s linear infinite;
}
.img-side__main-img {
  width: 43rem;
  height: 45rem;
  border-radius: 1.7rem;
}
.work-emoji {
  position: absolute;
  z-index: 10;
  width: 6rem !important;
  bottom: 35px;
  right: 98px;
}

.bloglist {
  background-color: #f9f9f9;
  padding: 15rem 0;
}
.bloglist-content {
  display: flex;
  flex-direction: column;
}
.bloglist-content p {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.bloglist-content h3 {
  color: #2d2e32;
  font-size: 2.5rem;
  margin-bottom: 6rem;
}

.bloglist-grid {
  grid-gap: 5rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
}
.bloglist-grid .card {
  background-color: #fff;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.bloglist-grid .card__1 {
  flex-direction: row;
  gap: 8rem;
  height: 40rem;
  padding: 2rem;
}

.bloglist-grid .card__img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  width: 53rem;
}

.bloglist-grid .card__img img {
  height: auto;
  width: 100%;
}

.bloglist-grid .card__text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 30rem;
}

.bloglist-grid .card__text img {
  position: absolute;
  right: -19px;
  top: -2px;
  width: 7rem;
}

.bloglist-grid .card__text h3 {
  color: #2d2e32;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  position: relative;
  text-transform: uppercase;
}

.bloglist-grid .card__text p {
  color: #767676;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.contact__title p {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contact__title h3 {
  color: #2d2e32;
  font-size: 2.5rem;
}

.contact__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 6rem;
}

.contact {
  background-color: #fff;
  padding: 11rem 0;
}

.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}
.contact__icon-box span {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2.3rem;
}

.contact__icon-box span i {
  color: #147efb;
  font-size: 3rem;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__info h3 {
  color: #2d2e32;
  font-size: 1.7rem;
}

.contact__info a,
.contact__info p {
  color: #767676;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
}

.contact__info a:hover,
.contact__info p:hover {
  color: #147efb;
  transition: all 0.3s;
}

footer {
  background-color: #2d2e32;
  padding: 5rem 0;
  width: 100%;
}

footer h3 {
  color: #fff;
  font-size: 1.7rem;
}

.footerc {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footerc__socials {
  display: flex;
  gap: 2rem;
}

.footerc__socials i {
  color: #fff;
  font-size: 2.3rem;
}

.footerc__socials i:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
